.contenedor-general {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.contenedor-sidebar {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 20%;
    background-color: pink;
}

.contenido {
    flex: 1;
    padding: 20px;
    width:500px;
}

article {
    background-color: darkseagreen;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: dodgerblue;
    padding: 20px;
}
